In [1]:
%load_ext sql

In [2]:
%sql sqlite://

Connecting to 'sqlite://'

In [3]:
%%sql
CREATE TABLE worldcups (country, champion, year);
INSERT INTO worldcups VAlUES ('France', 'France', 1998);
INSERT INTO worldcups VALUES ('South Korea', 'Brazil', 2002);
INSERT INTO worldcups VAlUES ('Germany', 'Italy', 2006);
INSERT INTO worldcups VALUES ('South Africa', 'Spain', 2010);
INSERT INTO worldcups VAlUES ('Brazil', 'Germany', 2014);
INSERT INTO worldcups VAlUES ('Russia', 'France', 2018);
INSERT INTO worldcups VALUES ('Qatar', 'Argentina', 2022);

Running query in 'sqlite://'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [4]:
%sql SELECT * FROM worldcups

Running query in 'sqlite://'

+--------------+-----------+------+
|   country    |  champion | year |
+--------------+-----------+------+
|    France    |   France  | 1998 |
| South Korea  |   Brazil  | 2002 |
|   Germany    |   Italy   | 2006 |
| South Africa |   Spain   | 2010 |
|    Brazil    |  Germany  | 2014 |
|    Russia    |   France  | 2018 |
|    Qatar     | Argentina | 2022 |
+--------------+-----------+------+

In [5]:
%sql SELECT count(*) FROM worldcups WHERE champion = 'France'

Running query in 'sqlite://'

+----------+
| count(*) |
+----------+
|    2     |
+----------+

In [6]:
%sql SELECT champion, count(champion) FROM worldcups GROUP BY champion ORDER BY year ASC

Running query in 'sqlite://'

+-----------+-----------------+
|  champion | count(champion) |
+-----------+-----------------+
|   France  |        2        |
|   Brazil  |        1        |
|   Italy   |        1        |
|   Spain   |        1        |
|  Germany  |        1        |
| Argentina |        1        |
+-----------+-----------------+